* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #74EBD5;
    background-image: linear-gradient(155deg, #74EBD5 0%, #9FACE6 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: fit-content;
}

.main-conatiner {
    width: 320px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    border: 4px rgb(30, 178, 228);
    border-style:ridge; 
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.display {
    width: 100%;
    height: 40%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.mode-change {
    width: 100px;
    height: 40px;
    background-color: #A9DCFD;
    margin-top: 25px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.icon {
    font-size: 1.5rem;
    color: #919EA7;
}

.icon.active {
    color: #172128;
}

.changer {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #D8EEFF;
    top: 0;
    left: 0%;
    border-radius: 100px;
    transition: all ease .3s;
}

.display .input-box {
    width: 100%;
    height: 70px;
   
}

.input-box input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    padding: 15px;
    color: black;
    font-size: 3rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: transparent;
}

.button-box {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box1 {
    width: 70%;
    height: 360px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.round-box {
    width: 95%;
    height: fit-content;
    border-radius: 40px;
    background-color: #BBDDFC;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap: 15px;
}

.round-box {
    border-radius: 40px;
}

.keys {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;  */
    /* background-color: yellow; */
    gap: 15px;
}

.box2 {
    width: 20%;
    height: 360px;
    background-color: #BBDDFC;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 14px;
    align-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: #BBDDFC;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.01)
}

.no-btn {
    border: 0;
    outline: 0;
    box-shadow: none;
}

.changing-bg{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.changing-btn-box{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.btn-dark{
    background-color: #103146;
    color: whitesmoke;
}

.icon-changer{
    color: white;
}

@media only screen and (max-width: 425px) {
.main-conatiner{
    width: 250px;
    height: 550px;
}

.mode-change{
    width: 70px;
    height: 30px;
}

.box1{
    height: 290px;
}

.box2{
    height: 290px;
}

.btn{
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
}
}